<mat-toolbar color="primary">
  Weather Information
</mat-toolbar>
<div class="content">
  <div class="child">
    <mat-form-field appearance="fill">
      <mat-label>City Name</mat-label>
      <input matInput placeholder="Enter city name" [(ngModel)]="cityName" (keyup)="searchItem($event)"
        autocomplete="off">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="clearInput()">Clear</button>

    <mat-card class="mat-elevation-z5" *ngIf="weatherInfo.name">
      <mat-card-header>
        <mat-card-title>{{weatherInfo.name}}'s weather</mat-card-title>
        <span class="big-text">Today: {{date}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-row">
          <div class="temp">
            <span class="big-text">{{weatherInfo.temp | number:'0.0-0'}} C</span>
            <span>Feels like </span>
            <span>{{weatherInfo.feels_like | number: '0.0-0'}} C</span>
            <span style="margin-left: 60px;">{{weatherInfo.description | titlecase}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>